@import 'variables';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $default-font-color;

  background-color:$background-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  margin: 0 128px;
  
  * {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
    background-color: $background-secondary-color;
    border-radius: 16px;
  }
}

.info {
  flex: 0.5;

  h1 {
    margin: 32px; 
  }
}

.login {
  flex: 1;

  img {
    $size: 128px;
    width: $size;
    height: $size;
    margin: 32px auto 0 auto;
  }

  h4 {
    margin: 32px auto;
  }
} .login:hover {
  cursor: pointer;
  background-color: $background-secondary-color-hover;
}
