@import 'variables';

.playlist {
    .playlist-label {
        max-width: 90vw;
        margin: 0 auto;

        img {
            display: block;
            width: 60vw;
            max-width: 320px;
            margin: 0 auto;
        }

        h4 {
            text-align: center;
        }
    }
    
    .playlist-tracks {
        width: 60vw;
        max-width: 320px;
        margin: 32px auto;

        .track {
            p {
                margin: 4px 0;
            }
        }
    
        .track:hover {
            cursor: pointer;
        }
    }
}

.edit-presentation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background-secondary-color;
    padding: 32px 32px;

    p {
        margin: 0;
        padding: 8px 16px;
    }
    
    .track:hover {
        cursor: pointer;
    }
}
